[submodule "dcgp"]
	path = vendor/dcgp
	url = https://github.com/darioizzo/dcgp.git
[submodule "audi"]
	path = vendor/audi
	url = https://github.com/darioizzo/audi.git
[submodule "vendor/piranha"]
	path = vendor/piranha
	url = https://github.com/bluescarni/piranha.git
