[submodule "dcgp"]
	path = vendor/dcgp
	url = https://github.com/darioizzo/dcgp.git
[submodule "audi"]
	path = vendor/audi
	url = https://github.com/darioizzo/audi.git
[submodule "piranha"]
	path = vendor/piranha
	url = https://github.com/bluescarni/piranha.git
[submodule "emscripten"]
	path = images/emscripten
	url = https://github.com/mikeheddes/emscripten-32bit-image.git
[submodule "dependencies"]
	path = images/dependencies
	url = https://github.com/mikeheddes/dcgp.js-dependencies-image.git
